# Gradle
**/.gradle
**/build
**/bin
!gradle-wrapper.jar

# NPM
**/node_modules
**/dist

# Configs & secrets
kubernetes/services/base/deployments/config-repo/*
!kubernetes/services/base/deployments/config-repo/*.example.*

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# JetBrains IDEs
.idea
*.iws
*.iml
*.ipr
out/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# VSCode
.vscode/
